<header class="bg-[#0d1117] text-[#0070f3] font-['Inter'] antialiased tracking-tight docked full-width top-0 border-b border-[#30363d] flex items-center justify-between px-4 h-14 w-full sticky top-0 z-50">
<div class="flex items-center gap-3">
<span class="material-symbols-outlined text-primary-container">terminal</span>
<h1 class="text-lg font-bold text-white tracking-tighter">DevExplorer</h1>
</div>
<div class="flex items-center gap-4">
<div class="w-8 h-8 rounded-full bg-surface-container-high border border-[#30363d] overflow-hidden">
<img alt="User avatar" class="w-full h-full object-cover" data-alt="professional headshot of a developer in a modern office with soft blue ambient lighting" src="https://lh3.googleusercontent.com/aida-public/AB6AXuAAjoX-8dChL2B24j7aqh1FCplXWIIdH8mUefmalQcsav-cTVS2167QaDv70BeVeUBpCcX8u5oo64zaj9a6XeNQrAfy5EToI7wUFw75jHZTWKn0IF9I-6Vuv9zlTBRivH4OD3wJ4N7wnZ99In_hzF2QjF_3yuDgDObRoq6kQbjt_Iuvb5khOshVXguy3zyj-DFUlz0ALTMTbrOYRvC5dowCC0nj2ffgrc5swTBg1ehn4ZsaYM2Im8p4O0BoaqyCNnTHcxVWxb0Hnyvq"/>
</div>
</div>
</header>