<nav class="fixed bottom-0 left-0 w-full flex justify-around items-center h-16 bg-[#0d1117] px-2 pb-safe border-t border-[#30363d] z-50">

  <a 
    routerLink="/home"
    routerLinkActive="text-[#0070f3] after:content-[''] after:absolute after:-top-2 after:w-8 after:h-0.5 after:bg-[#0070f3]"
    [routerLinkActiveOptions]="{ exact: true }"
    class="relative flex flex-col items-center justify-center text-gray-500 hover:text-white transition-colors scale-95 active:scale-90 transition-transform"
  >
    <span class="material-symbols-outlined">home</span>
    <span class="text-[10px] font-medium font-['Inter']">Home</span>
  </a>

  <a 
    routerLink="/repositories"
    routerLinkActive="text-[#0070f3] after:content-[''] after:absolute after:-top-2 after:w-8 after:h-0.5 after:bg-[#0070f3]"
    class="relative flex flex-col items-center justify-center text-gray-500 hover:text-white transition-colors scale-95 active:scale-90 transition-transform"
  >
    <span class="material-symbols-outlined">terminal</span>
    <span class="text-[10px] font-medium font-['Inter']">Repos</span>
  </a>

  <a 
    routerLink="/users"
    routerLinkActive="text-[#0070f3] after:content-[''] after:absolute after:-top-2 after:w-8 after:h-0.5 after:bg-[#0070f3]"
    class="relative flex flex-col items-center justify-center text-gray-500 hover:text-white transition-colors scale-95 active:scale-90 transition-transform"
  >
    <span class="material-symbols-outlined">group</span>
    <span class="text-[10px] font-medium font-['Inter']">Users</span>
  </a>

</nav>